# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# macOS & Linux
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python environment files
Pipfile.lock
poetry.lock

# Output files
*.log
*.out

# Spyder project settings
.spyderproject
.spyproject

# PyCharm project settings
.idea/

# Compiled C extensions
*.so

# Test coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
nosetests.xml
*.cover
.hypothesis/

# Data files
*.csv
*.tsv
*.xlsx
*.xls
*.db

# dotenv files
.env
.env.*
